/* 1.  native selectors */
/* 2. links */

/* 1. */
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* 2. links */
.link-dark {
  color: var(--secondary-text-color-alt);
}

.link-darker {
  color: var(--secondary-text-color-alt);
}

.link-light {
  color: var(--primary-text-color);
}

/* misc. */

.favorited {
  background: var(--primary-background-color);
  fill: var(--primary-background-color);
}

.chevron {
  stroke: #333;
  stroke-width: 2px;
  align-items: center;
  display: inline-flex;
  height: 13px;
  justify-content: center;
  width: 13px;
}
