@media screen and (max-width: 40.5em) {
  .forecast-header__breadcrumb {
    display: none;
  }

  .forecast-header {
    position: relative;
    width: 100%;
  }

  .forecast-header__main {
    width: 100%;
  }

  .forecast-header__main__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f7f9;
  }

  .forecast-header__main__title {
    margin: 0;
    padding: 16px;
    width: 305px;
  }

  .forecast-header__main__favorite {
    z-index: 4;
  }

  .forecast-header__main__favorite__button {
    display: flex;
    padding: 3px 16px 0 0;
    cursor: pointer;
  }

  .forecast-header__main__favorite__button__icon {
    width: 36px;
    height: 36px;
  }

  .forecast-header__main__favorite__indicator__text {
    display: none;
  }

  .forecast-header__nav {
    display: inline-flex;
    font-size: 14px;
    padding: 8px 16px;
    margin: 0 0 0 8px;
  }

  .forecast-header__nav__item__link {
    margin: 0 24px 0 0;
  }

  .forecast-header__nav__item__link__chevron {
    stroke: #333;
    stroke-width: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 13px;
    width: 13px;
  }

  .forecast-header__cam-selector {
    height: 47px;
    width: 100%;
    background-color: var(--tertiary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forecast-header__cam-selector__option {
    cursor: pointer;
    width: 38px;
    height: 27px;
    border-radius: 3px;
  }

  .forecast-header__cam-selector__option:first-child {
    margin-right: 16px;
  }

  .forecast-header__cam-selector--option-active {
    border: 1px solid var(--tertiary-text-color);
  }

  .forecast-header__cam-selector__option--single {
    width: 22px;
    height: 11px;
    margin: 8px auto;
    background-color: var(--tertiary-text-color);
  }

  .forecast-header__cam-selector__option--multi {
    background-color: rgba(255, 255, 255, 0.25);
    float: left;
    height: 6px;
    width: 11px;
  }

  .forecast-header__cam-selector__option--multi:first-child {
    margin: 7px 1px 1px 8px;
  }
  .forecast-header__cam-selector__option--multi:nth-child(2) {
    margin-top: 7px;
  }
  .forecast-header__cam-selector__option--multi:nth-child(3) {
    clear: left;
    margin-left: 8px;
  }
  .forecast-header__cam-selector__option--multi:nth-child(4) {
    margin-left: 1px;
  }

  .cam-feed {
    width: 100%;
    height: 160px;
    text-align: center;
    background-color: #000;
  }
  .surf-conditions-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: var(--accent-background-color);
  }

  .surf-conditions-bar__title {
    margin-left: 16px;
    font-size: 16px;
    color: var(--accent-text-color);
  }

  .forecast-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
  }

  .forecast-content-summary__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 104px 90px 50.5px;
    column-gap: 1px;
    row-gap: 20px;
  }

  .forecast-content-summary__stat {
  }

  .spot-report__thumbnail {
    background: url(https://api.maptiler.com/maps/062c0d04-1842-4a45-8181-c5bec3bf2214/static/153.628025,-28.63764444,13/260x195.png?key=3tFgnOQBQixe61aigsBT&attribution=0);
  }

  .spot-report__thumbnail,
  .spot-report__compass {
    height: 195px;
    width: 260px;
    fill: none;
    stroke: var(--secondary-text-color-dark);
    stroke-width: 1;
  }

  .spot-report__compass text {
    stroke: none;
  }

  .spot-report__wind-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
  }

  .spot-report__wind-arrow__icon {
    fill: var(--primary-background-color);
  }

  .spot-report-text {
    margin: 24px 0;
  }

  .spot-report-forecaster-profile__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .spot-report-forecaster-profile {
    border-top: 1px solid var(--secondary-text-color-light);
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .spot-report-forecaster-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 8;
  }

  .spot-report-forecaster-profile__text {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
}
